/* Bootstrap's example styles
-------------------------------------------------- */
.bse-heading > .pull-left {
    display: table;
    height: 70px;
}
.bse-heading > .pull-left > * {
    display: table-cell;
    vertical-align: middle;
}

.bse-buttons > .btn,
.bse-buttons > .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bs-thumbnails > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Sidebar styles
-------------------------------------------------- */
.sidebar {
    padding-left: 20px;
}

.sidebar .nav > .active > ul {
    display: block;
}

.sidebar .nav > li > a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 4px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    padding-left: 19px;
    color: #333;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #333;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: 700;
    color: #333;
    background-color: transparent;
    border-left: 2px solid #333;
}

.sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}

.sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}
.sidebar .nav .nav > li > a:hover,
.sidebar .nav .nav > li > a:focus {
    padding-left: 29px;
}
.sidebar .nav .nav > .active > a,
.sidebar .nav .nav > .active:hover > a,
.sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
    padding-left: 28px;
}

.back-to-top {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #999;
}
.back-to-top:hover {
    text-decoration: none;
    color: #333;
}

/* HTML inspector button styles
-------------------------------------------------- */
.js-html-inspector {
    position: relative;
}
.js-html-inspector .js-btn-inspector {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    background-color: #fff;
}
.js-html-inspector:hover .js-btn-inspector {
    display: block;
}
#dialog-html-inspector code {
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
}